$darkish-blue-color: #00479f;
$white-color: #ffffff;
$black-color: #000000;
$font-family-bold: HelveticaNeue-Bold;
$font-family: HelveticaNeue;
$font-size: 17px;
$input-size: 14px;
$active-color: #336699;