@import "../../../styles/toolkit";

.AppBar__title {
	text-decoration: none;
	color: white;
}

.Menu--title {
	font-weight: 100;
  	text-shadow: 1px 1px 1px #4B4B4C;
  	color: white;
}

.a__link {
	line-height: 64px;
	color: white;
}

.link--signup {
	margin-left: 10px;
}