@import "../../../styles/toolkit";

.div__marginTop {
	margin-top: 30px;
}

.paper__mediaPiece {
	max-width: 80%;
	margin: auto;
	max-height: 70%;
}

.div__about {
	text-align: center;
	padding: 20px;
}
